.page-title {
    color: #007bff;
    text-align: center;
    margin-top: 20px;
}

.page-content {
    font-size: 1.2rem;
    color: #333;
    text-align: center;
    margin: 10px 0;
}

.btn-primary {
    display: block;
    margin: 20px auto;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}